@font-face{
    font-family: options;
    src: url(/SolutionSeekers/font/static/Epilogue-Light.ttf)
}
body{
    background-color: white;
}
.logo{
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: 40%;
}

.navbar{
    display: flex;
}
h1{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}
.nav_options{
    font-size:  23px;
font-family:'options'; 
   display: flex;
    margin: 3%; 
}
#opt1, #opt2 ,#opt3 ,#opt4 :hover
{
    margin-right: 20%;
}
#opt1:hover{
    border: 1px solid;
}
#opt2:hover{
    border: 1px solid;
}
#opt3:hover{
    border: 1px solid;
}
#opt4:hover{
    border: 1px solid;
}



