@font-face {
    font-family: inter;
    src: url(/SolutionSeekers/font/static/Inter_24pt-Light.ttf);
}
    
.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-right: 5%;
    margin-left:1%;
    
}

h1{
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.search{
    display: flex;
    margin-left: 0%;
    justify-content: center;
    align-items: center;
}
#searchbar{
    font-size: 18px;
    width: 300px;
    height: 60px;
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navoptions{
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    gap:6vh;
    margin-left: 13%;
    font-size: 25px;
    font-family: 'inter';
   
}
.navoptions span:hover{
    text-decoration: underline;
}
.navoptions button{
    height: 60px;
    width: 120px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: #1EBAF3;
    border: none;
    border-radius: 10px;
 
} .navoptions button:hover{
    border: 2px solid;
}

@media (max-width: 600px)
{
    .navbar{
        display: flex;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
        
    }
    
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5%;
        margin-left: 20%;
    }
     #logo{
        width: 50px;
     }
    
    h1{
        justify-content: center;
        align-items: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
    }
    
    .search{

        margin-left:58%;
    }
    #searchbar{
        display: none;
        
    }
    .navoptions{
        display: none;
       
    }
   

}