.logo{
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-left: 10%; 

}
h1{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.navabar{
    display: flex;
    display: inline-flex;

}
.search{
    display: flex;
    display: inline-flex;
    margin-left: 30%;
    
        
}
#searchbar{
    font-size: 28px;
    width: 300px;
    height: 60px;
    border: none;
    margin-top: 7px;
}
