@font-face {
    font-family: inter;
    src: url(/font/static/Inter_24pt-Light.ttf );
}

.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    
}

h1{
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.search{
    margin-left: 10%;
}
#searchbar{
    font-size: 28px;
    width: 300px;
    height: 60px;
    border: none;
}
.navoptions{
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
    gap:7vh;
    margin-left: 20%;
    font-size: 25px;
    font-family: 'inter';
   
}
.navoptions span:hover{
    text-decoration: underline;
}
.navoptions button{
    height: 60px;
    width: 150px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: #1EBAF3;
    border: none;
    border-radius: 10px;
 
} .navoptions button:hover{
    border: 2px solid;
}
